<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>525566613980-c4o2ocbfkbeql0suf3892rkfib9jrace.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525566613980-c4o2ocbfkbeql0suf3892rkfib9jrace</string>
	<key>API_KEY</key>
	<string>AIzaSyCEiLXzoN-AgjWwd6M0qpu4zAAGbd4DDOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>525566613980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatappFirebase</string>
	<key>PROJECT_ID</key>
	<string>fir-mychat-c5734</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-mychat-c5734.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525566613980:ios:bde608564de90e6a469719</string>
</dict>
</plist>